body {
	background: #333333;
}

.main-header {
	color: #CCCCCC;
}

#jumbotron {
	height: 400px;
	background: url('../img/train.jpg');
	background-size: 940px 400px;
    background-repeat:no-repeat;
    display: compact;
}

#form-signin {
	
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-right: 40px;
	
	margin-left: 600px;
	margin-right: 20px;
	margin-top: 70px;
	
}

#form-signin .form-signin-heading {
	font-size: 16px;
}

#form-preloader img {
	padding-top: 20px;
}

#loginAlert {
	padding: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	display:none;
}

#form-preloader {
	display:none;
}

#form-userdata {
	display:none;
}

.hero-unit{
    background-color: rgba(255, 255, 255, 0.6);
}

#about {
	margin-top: 25px;
	color: #CCCCCC;
}

.well {
	margin-top: 20px;
}

.well .input-prepend input {
	height: 30px;
}