body {
    background: #333333;
}

h1 {
    color: #CCCCCC;
}

#jumbotron {
    height: 300px;
    background-size: 940px 300px;
    background: url('../img/train.jpg') no-repeat;
}

#form-signin {
    min-height: 200px;
    padding: 10px 40px 10px;
    margin: 20px 20px 10px 600px;
}

#form-signin-body p {
    font-size: 14px;
}

#form-signin .form-signin-heading {
    font-size: 16px;
}

#login-alert {
    display: none;
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    font-size: 8px;
}

#login-error {
    display: none;
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    font-size: 8px;
}

#login-error-reserve {
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    font-size: 8px;
}

#login-message-reserve {
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    font-size: 8px;
}

#login-message {
    display: none;
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    font-size: 8px;
}

#scheduleAlert {
    width: 30%;
    display: none;
}

#searchTrainAlert {
    display: none;
}

#stationNotFoundAlert {
    width: 30%;
}

#buyTicketAlert {
    /*display: none;*/
    width: 30%;
}

.hero-unit {
    background-color: rgba(255, 255, 255, 0.6);
}

#inputFromSearchTrain input {
    height: 30px;
}

#inputFromAddStation input {
    height: 30px;
}

#inputFromAddSchedule input {
    height: 30px;
}

#inputFromAddTrain input {
    height: 30px;
}

#login-centered {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 30%;
}

#search-train-station-from-name {
    margin-right: 5px;
}

#search-train-station-to-name {
    margin-right: 5px;
}

#timeFrom {
    margin-right: 7px;
}

#inputFromBuyTicket button {
    margin-top: 10px;
    margin-left: 5px;
    height: 30px;
}

#inputFromAddSchedule button {
    margin-top: 10px;
    margin-left: 5px;
    height: 30px;
}

#inputFromBuyTicket input {
    height: 30px;
}

#inputFromBuyTicket .input-prepend {
    margin-top: 10px;
}

#inputFromSearchTrain .input-prepend {
    margin-top: 10px;
}

#inputFromAddSchedule .input-prepend {
    margin-top: 10px;
}

#inputFromSearchTrain button {
    margin-top: 10px;
    margin-left: 5px;
    height: 30px;
}

#inputFromSearchTrain #passengerCollapseBtn {
    margin-top: 10px;
    margin-left: 5px;
    height: 20px;
}

#extendedFormButton {
    margin-top: 10px;
    margin-left: 5px;
    height: 20px;
}

.body-table thead {
    color: #FFFFFF;
    background: #666666;
}

.body-table th {
    text-align: center;
}

.body-table td {
    text-align: center;
}

.body-table .btn-buy {
    margin-right: auto;
    margin-left: auto;
    width: 50px;
}

.well {
    margin-top: 20px;
}

#footer {
    margin-top: 20px;
}

.span4 {
    width: 30%;
}

.height20 {
    height: 20px;
}

.height30 {
    height: 30px;
}

.buy-ticket-span {
    padding-left: 5px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 5px #73b8ee;
    border: 1px solid #73b8ee;
}

.buy-ticket-span-disabled {
    padding-left: 5px;
    width: 30%;
    border-radius: 10px;;
    color: #BEBEBE;
}

.buy-ticket-span-disabled input {
    display: block;
    height: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.buy-ticket-span input {
    display: block;
    height: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.buy-ticket-span-disabled button {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0;
}

.buy-ticket-span button {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0;
}

.buy-ticket-span form p {
    margin-left: 15px;
}

.buy-ticket-span-disabled form p {
    margin-left: 15px;
}

.buy-ticket-form input {
    display: block;
    height: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.buy-ticket-form button {
    display: block;
    width: 60%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

#btn-back-step-3 {
    display: block;
    width: 5%;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0;
}

#btn-back-step-2 {
    display: block;
    width: 5%;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0;
}

.buy-ticket-span h3 {
    text-align: right;
    margin-right: 15px;
}

.buy-ticket-span-disabled h3 {
    text-align: right;
    margin-right: 15px;
}

.buy-ticket-form-error p {
    font-weight: normal;
    margin-top: -10px;
    margin-left: 15px;
    color: #FF4500;
}

.buy-ticket-form-error input {
    color: #FF4500;
    border: 1px solid #FF4500;
    box-shadow: 0 0 5px #FF4500;
}

#total-cost {
    color: #6E8B3D;
    font-weight: bold;
    text-align: center;
}

#buy-ticket-datetime-from {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#buy-ticket-date-from {
    float: left;
    margin-left: 15px;
    width: 50%;
}

#buy-ticket-time-from {
    width: 35%;
    margin-right: 15px;
}

#buy-ticket-datetime-from p {
    clear: left;
}

.bootstrap-timepicker-widget input {
    height: 30px;
    margin: 0;
    padding: 0;
}

.buy-ticket-span .alert {
    margin-left: 15px;
    margin-right: 15px;
}

#schedule-by-station-ajax-previous {
    display: none;
}

#search-train-ajax-previous {
    display: none;
}

#schedule-by-station-ajax-next {
    display: none;
}

#search-train-ajax-next {
    display: none;
}

.centered-button {
    text-align: center;
}

.centered-button-form {
    display: inline-block;
}

#schedule-by-station-table-ajax {
    display: none;
}

#search-train-table-ajax {
    display: none;
}

#schedule-by-station-table-ajax-empty {
    display: none;
}

#search-train-table-ajax-empty {
    display: none;
}

.hidden {
    display: none;
}

#schedule-by-station-table-ajax-preloader {
    display: none;
    margin-right: auto;
    margin-left: auto;
    width: 32px;
}

#search-train-table-ajax-preloader {
    display: none;
    margin-right: auto;
    margin-left: auto;
    width: 32px;
}

.input-field-error {
    display: inline-block;
}

.input-field-error input {
    color: #FF4500;
    border: 1px solid #FF4500;
    box-shadow: 0 0 5px #FF4500;
}

.input-field-error p {
    margin-left: 60px;
    color: #FF4500;
    display: block;
}
