<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>CharsetEncodingFilter</filter-name>
        <filter-class>com.railwaycompany.presentation.filters.CharsetEncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CharsetEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.railwaycompany.presentation.filters.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>Private pages</param-name>
            <param-value>/InformationSystem/buy_ticket</param-value>
        </init-param>
        <init-param>
            <param-name>Employee pages</param-name>
            <param-value>
                /add_station;/add_station.jsp;/add_train;/add_train.jsp;/view_all_trains;/view_all_trains.jsp
            </param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/400.html</location>
    </error-page>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring-business-context.xml,
            /WEB-INF/mvc-dispatcher-servlet.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <persistence-context-ref>
        <persistence-context-ref-name>EntityManager</persistence-context-ref-name>
        <persistence-unit-name>RailwayInformationSystem</persistence-unit-name>
    </persistence-context-ref>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
